// ============================================================================
// Links
// ============================================================================

a {
    color: $color-plum;
    text-decoration: underline;
    transition: color .2s;
    &:hover {
        color: $color-blurple;
    }
}
