/* SG
# Objects/ Wrappers
*/

.section {
    padding-top: $spacing-xl;
    padding-bottom: $spacing-xl;
    
    @include medium {
        padding-top: $spacing-xxl;
        padding-bottom: $spacing-xxl;
    }
}

.gutters {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto; 
    padding-left: $spacing-l;
    padding-right: $spacing-l;
    
    @include medium {
        padding-left: $spacing-xl;
        padding-right: $spacing-xl;
    }

    @include xlarge {
        padding-left: 0;
        padding-right: 0;
    }
}

.gutters-1\/2\@small {
    @include small {
        padding-left: $spacing-s;
        padding-right: $spacing-s;
    }
}

.line-length {
    max-width: $line-length;
}

.line-length-large {
    max-width: 800px;
}
