// ============================================================================
// Grid spacing
// ============================================================================

// Row spacing (Grid items) ---------------------------------------------------
.grid--row-spacing {
    > * {
        margin-bottom: 3rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}


// Column spacing -------------------------------------------------------------

.grid--col-spacing {
    margin-left: -$spacing-l;

    > * {
        padding-left: $spacing-l;
    }
}