// ============================================================================
// Site colors
// ============================================================================


//  Brand
// -----------------------------------------------------------------------------
$color-navy: #111625;
$color-blurple: #782148;
$color-plum: #9b2453;

$color-green: #45af94;
$color-sea: #bccea1;
$color-orange: #ee7248;

$color-blush: #e3a7a1;
$color-peach: #ab898f;
$color-grey-blue: #a4b7c0;


// Common
// -----------------------------------------------------------------------------
$color-black:                       	#222222;
$color-white:                       	#fff;
$color-grey-dark: 						#333;
$color-grey-light:                      #666;

// Page
// -----------------------------------------------------------------------------


// Accesibility
// -----------------------------------------------------------------------------
$color-focus:                      		#e3a7a1;
$color-select:                     		#e3a7a1;
