.react-add-to-calendar {
    margin-bottom: 60px;
    position: relative;
    @include small {
        margin-bottom:90px;
    }
}

.react-add-to-calendar__button {
    text-transform: uppercase;
    border: 3px solid $color-pink;
    color: $color-pink;
    padding: 8px 16px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 4;
}

.react-add-to-calendar__dropdown {
    min-width: auto;
    width:248px;
    margin: 0 auto;
    border: 3px solid $color-pink;
    border-top: none;
    padding:12px 0; 
    // z-index: 4;
    @include small {
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        min-width: 100%;
        border: none;
    }
    a {
        border-bottom: none;
        text-transform: uppercase;
        color: $color-pink;
        padding: 10px 0px;
        margin: 0;
        // transition: color .2s, background .2s;
        display: block;
        text-decoration: none;
        // &:hover {
            // color: $color-pink;
            // text-decoration: underline; 
        // }

        @include small {
            display: inline-block;
            border-bottom: 3px solid $color-pink;
            margin: 5px 0;
            padding: 8px 0px;
        }
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    margin: 0 12px;

    @include small {
        display: inline;
    }
}