.section {
    position: relative;
    width: 100%;
    padding: 10px;
}

.no-touch .section {
    min-height: 100vh;
    display: flex;
}

    .section__inner {
        width: 100%;
        background-color: $color-plum;
        // opacity: .98;
        padding: 0 25px;
        text-align: center;
    }

    .no-touch .section__inner {
        min-height: 100%;
        align-self: stretch;
    }