.title {
    padding-top: 11%;
    padding-bottom: 60px;

    background: transparent url('./images/floral.jpg') repeat;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

    @include medium {
        padding-bottom: 80px;
    }

    @include large {
        padding-bottom: 100px;
    }
}

    .title__text {
        color: #fff;
    }