// Variables 

$font-size: 16;
$line-height: 1.5;

$font-floxglow: 'foxglow', Georgia, Times, "Times New Roman", serif;
$font-mons: 'montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-monsbold: 'montserratsemibold', "Helvetica Neue", Helvetica, Arial, sans-serif;

$color-tungsten: #444444;
$color-plum: #441c2d;
$color-pink: #f9d3c6;
$color-white: #ffffff;

